# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# TensorFlow model files (optional)
*.h5
*.keras

# Logs
*.log
